{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <!-- this link to the preview online version of BJS -->
    <script src="https://preview.babylonjs.com/babylon.js"></script>
    <!-- this is needed for BJS to load scene files -->
    <script src="https://preview.babylonjs.com/loaders/babylonjs.loaders.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css'%}">

    <canvas id="canvas"></canvas>


    <h2>Choose a color</h2>
    <!--
        this should be a <form>
        with a csrf token
    -->
    {% for color in all_colors %}
        <div id={{ color.name }} class="btn">{{ color.name }}</div>
    {% endfor %}


    <script src="{% static 'js/show_brain.js' %}" type="text/javascript"></script>
{% endblock %}